.home-page {
  overflow-x: hidden;
    background-image: linear-gradient(to top, #d7d7d7, #fff, #d5d5d5);
    .carousel-control-next-icon,.carousel-control-prev-icon {
      background-color: #d7d7d7;
      padding: 1.5rem;
      border-radius: 15px;
    }

    .projects-section {
        padding: 4rem 0;
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            h3 {
                @media(max-width: 650px) {
                    font-size: 30px;
                }
                color: #191236;
                font-size: 40px;
                margin-bottom: 30px;
            }
            button {
                color: #fff;
                background-color: #191236;
                border: 1px solid #191236;
                min-width: 120px;
                padding: 7px;
                border-radius: 26px;
                outline: none;
                transition: all .3s;
                &:hover {
                    background-color: transparent;
                    color: #191236;
                }
            }
        }
        article {
            .txt {
                p {
                    color: #24272d;
                    line-height: 31px;
                    font-size: 18px;
                    max-width: 900px;
                }
            }
            
            .slider-section {
                margin-top: 2rem;
                .carousel-caption {
                    position: static;
                }
                .carousel-control-next, .carousel-control-prev {
                    width: auto;
                    color: #7d7c7c;
                    opacity: 1;
                }
                .carousel-control-next-icon,.carousel-control-prev-icon{
                  padding: 0.5rem;
                  border-radius: 6px;
                }
                .carousel-control-next {

                    @media (min-width: 900px) {
                        right: -45px;
                    }
                }
                .carousel-control-prev {
                  padding: 0.5rem;
                  border-radius: 6px;
                    @media (min-width: 900px) {
                        left: -45px;
                    }
                }
                .carousel{
                  // height:350px;
                  .carousel-inner{
                    height:100%;

                  }
                }
                .carousel-item {
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center center;
                  height:100%;
                  .carousel-caption {
                      .txt-content {
                          text-align: start;
                          max-width: 500px;
                          // background-color: rgba(0, 0, 0, 0.829);
                          padding: 20px;
                          margin: 6rem 25px 2rem 25px;
                          .title {
                              border-bottom: 1px solid #fff;
                              padding-bottom: 10px;
                              margin-bottom: 12px;
                              h3 {
                                  color: #fff;
                                  font-weight: 25px;
                              }
                              h5 {
                                  color: #e73845;
                                  font-size: 18px;
                              }
                          }
                          article {
                              p {
                                  color: #9e9e9e;
                              }
                              h6 {
                                  color: #fff;
                              }
                          }
                      }
                  }
              }

            }
        }
    }

   #piont{
      color: #D85140;
      font-size: 3rem;
      @media (max-width:650px) {
      font-size: 2rem;
        
      }
    }
    .about-section{
      padding: 4rem 0;
      header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          h3 {
              @media(max-width: 650px) {
                  font-size: 20px;
              }
              color: #191236;
              font-size: 35px;
              margin-bottom: 30px;
          }
        }
        .txt{

          p{
            font-size: 1.2rem;
            color: #24272D;
          }
        }
    }
    .partner-section{
      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        h3 {
            @media(max-width: 650px) {
                font-size: 30px;
            }
            color: #191236;
            font-size: 40px;
            margin-bottom: 30px;
        }
      }
     
      .carousel-control-next, .carousel-control-prev{
        color:red
      }
    }


    .how-work-section{background-color: #b2bec3;padding: 1.3em;margin-top: 2em;}
    
    .how-work-section h4{
    
      color:#233453;
      font-size: 30px;
      font-family: Tahoma;
      font-weight: bold;
      @media (max-width: 574px){
        margin-top: 50px;
      }
    }
    .how-work-section p{
      color:#363333;
      font-size: 30px;
      line-height: 35px;
      font-family: Tahoma;
      
    }
    .how-work-section .line{
      width: 220px;
      height: 3px;
      background-color: #2b2e2b;
      border-radius: 10px;
      margin: 15px 0 20px 0;
      
    }
    .how-work-section .line-3{
      width: 100%;
      height: 5px;
      display: inline-block;
      background-color: #9E9E9E;
      border-radius: 10px;
      margin: 15px 0 20px 0;
    }
    .how-work-section img{
    
      box-shadow: 5px 5px 10px grey;
      -moz-box-shadow: 5px 5px 10px grey;
      -webkit-box-shadow: 5px 5px 10px grey;
      -khtml-box-shadow: 5px 5px 10px grey;
      margin-bottom: 25px;
  
    }
   
    .about-section .line-2{
      width: 338px;
      height: 5px;
      background-color: #D85140;
      border-radius: 10px;
      margin: 15px 0;
    }
    @media only screen and (max-width: 600px) {
      .about-section .line-2{
        width: 190px;
        height: 2px;
        background-color: #D85140;
        border-radius: 10px;
        margin: 15px 0;
      }
   
      .how-work-section .t{
        font-size: 20px;
      }
      .how-work-section .d{
        font-size: 10px;
      }
      .how-work-section .line{
        width: 150px;
        height: 2px;
        background-color: #D85140;
        border-radius: 10px;
        margin: 15px 0;
      }
      .how-work-section .line-3{
        width: 360px;
        height: 2px;
        display: inline-block;
        background-color: #9E9E9E;
        border-radius: 10px;
        margin: 15px 16px;
      }
      .how-work-section .f{
        display: flex;
        order: 6!important;
       
      }
      
      .carousel-item .row img{
      
        width: 50px;
      }

    }
    
   
  }

h3.wow.fadeInUp.mb-5{
  font-size: 55px;
}
.chat-btn {
  position: fixed;
    bottom: 10px;
    right: 14px;
    margin-top: -70rem;
   
    cursor: pointer;
    @media (max-width: 737px) {
      margin-top: -98rem;
    }
    @media (max-width: 793px) {
      margin-top: -92rem;
    }
    @media (max-width: 600px) {
      bottom: 185px;
    }
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
    
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}

.chat-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #24272D;
    color: black;
    font-size: 35px;
    border: none
}

.wrapper {
    position: fixed;
    right: 20px;
    bottom: 8rem;
    width: 350px;
    height: 400px;
    background-color: #ccc6c631;
    border-radius: 25px;
    border: solid;
    margin-right: 75px;
    border-color: #24272D;
    opacity: 0;
    transition: all 0.4s;
    @media (max-width:1100px) {
      bottom: 2rem;    
    }
    @media (max-width:766px) {
      bottom: 200px;
    width: 230px;
    height: 280px;

      
    }
    @media (max-width:600px) {
      bottom: 190px;
    width: 230px;
    height: 280px;

      
    }
}

.send{
  display: flex;
  margin-top: 90px;
  @media (max-width:766px) {
    margin-top: 10px;
  }
}
#check:checked~.wrapper {
    opacity: 1
}
P{
  text-align: center;
  @media (max-width:766px) {
    font-size: 10px;
  }
}
.form-control{
  font-size: 15px; 
  bottom: 20px;
  @media (max-width:766px) {
    font-size: 10px; 
  bottom: 20px;
  }
}
.fa-solid.fa-arrow-down{
  margin-right: 150px;
  @media (max-width:766px) {
  margin-right: 100px;
    
  }
}
.header {
    padding: 13px;
    background-color: blue;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
}

.chat-form {
    padding: 15px
}
.chat-form input{
  border-radius: 10px;
  height: 30px;
}
.chat-form i{
  width: 30px; 
}
.question{
  display: flex;
}
.question input{
  font-size: 18px;
  width: 150px;
  @media (max-width:766px) {
    font-size: 10px;
    width: 90px;  
  }
}
.face{
  display: flex;
}
.chat-form input,
textarea,
button {
    margin-bottom: 10px
}

.chat-form textarea {
    resize: none
   
}

.send i{
  margin-top: 10px;
  @media (max-width:766px) {
  margin-top: 1px;
    
  }
}
textarea{
  height: 50px;
  @media (max-width:766px) {
    height: 30px;
  }
  @media (max-width:600px) {
    height: 30px;
  }
}
.form-control:focus,
.btn:focus {
    box-shadow: none
}

.btn,
.btn:focus,
.btn:hover {
    background-color: rgb(32, 32, 32);
   
}
.btn{
  background-color: rgb(32, 32, 32);
@media (max-width:766px) {
 height: 30px;
}
}

#check {
    display: none !important;
    margin-left:auto; 
    margin-right:auto;
}  
