<app-header></app-header>
<section class="about-page">
    <div class="page-header">
        <div class="container">
            <h3 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">إعرف عنا</h3>
            <h5>الخصوصية</h5>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="content row">
                <div class="txt-info mb-5 col-10">
                    <h3> فيلا<span style="color: #e73845;font-size: 4rem;">.</span>أونلاين</h3>
                    <ng-container *ngFor="let para of projects">
                      <p  style="white-space: pre-wrap">{{para.data}}</p>
                    </ng-container>
                 <!--    <p>


                      كتُبت سياسة الخصوصية لمساعدتك على فهم كيفية جمع معلوماتك واستخدامها وتخزينها بشكل أفضل. وهي سياسة خاضعة للتحديث لأن قوانين التكنولوجيا والخصوصية في تغيير دائم ونلتزم بإشعارك عند إجراء أي تغيير. واستخدامك لأي من خدماتنا بعد نشر تلك التغييرات بمثابة الموافقة على السياسات المعدلة

                      </p>
                      <p>
                        من خلال اشتراكك في أي من المنتجات أو الخدمات التي تقدمها منصة فيلا اونلاين فإنك توافق على شروط سياسة الخصوصية وبذلك توافق على شروط خدمة المنصة . وتعد سياسة الخصوصية اتفاقية ملزمة قانونياً. وإذا تمت إضافة وتسري تلك السياسة على أي ميزات أو أدوات جديدة تضاف إلى خدماتنا                      </p>
                      <p>
                        تتيح  منصة فيلا اونلاين  لجميع الزوار إمكانية الوصول إلى صفحات موقعها الإلكتروني ، حيث تتعهد المنصة  بحماية خصوصية بياناتك الشخصية وأنها لن تقوم بجمع أي معلومات شخصية عنك إلا إذا اخترت طواعية توفير وتقديم هذه المعلومات لنا عبر قنوات التواصل الموضحة في هذا الموقع، حيث لا يتم استغلال أو استخدام هذه المعلومات لغرض آخر (غير شرعي) خارج إطار إنجاز ومعالجة طلبك متى ما كانت خدمة الغرض متاحة. كما نود إفادتك بأنه، خلال تصفحك هذا الموقع تقوم أنظمة الاستضافة تلقائياً بتسجيل معلومات الزائرين المتعلقة بعمليات التصفّح (معلومات لا تكشف هويتك الشخصية) مثل الصفحات التي تتم قراءتها، أو المحتوى الذي يتم مشاهدته، أو المواد التي تم تنزيلها، وذلك لأغراض دراسية وإحصائية تساعدنا في تقييم مستوى المحتوى وطريقة العرض وتوفير معلومات عن مشاكل أداء النظام لتحسين أداء هذا الموقع بشكل عام
                      </p> -->
                </div>

            </div>
        </div>
    </div>
</section>
