<nav class="navbar navbar-expand-lg" [class.header-bg]="_router.url == '/' ">
  <div class="container">
      <div class="d-flex align-items-center">
          <a class="navbar-brand" href="#">
              <img src="/assets/header/logo.png" alt="" srcset="">
          </a>

      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"> الرئيسية</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active">من نحن</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ourServices" routerLinkActive="active">خدماتنا</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/projects" routerLinkActive="active">مشروعاتنا</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">تواصل معنا</a>
            </li>
            <li class="nav-item whats">
              <a class="nav-link mx-3" href="https://api.whatsapp.com/send?phone=966555444433&text=welcome%20to%20villa%20online%20whatsApp" target="_blank" rel="noopener noreferrer">
                  <img width="30px" src="/assets/icons/whatsapp.png" alt="" srcset="">
                  <!-- <span class="mx-1"  style="direction:ltr;float:left">+966 555444433</span> -->
              </a>
            </li>
            </ul>
      </div>
  </div>
</nav>

