<nav class="navbar navbar-expand-lg" [class.header-bg]="_router.url == '/' ">
    <div class="container">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img src="/assets/header/logo.png" alt="" srcset="">
            </a>

        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link"  routerLink="/home" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"> الرئيسية</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active" >من نحن</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/ourServices" routerLinkActive="active">خدماتنا </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/projects" routerLinkActive="active">مشروعاتنا</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact" routerLinkActive="active">تواصل معنا</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/support-chat" routerLinkActive="active">محادثاتى مع الدعم</a>
            </li>
              <li class="nav-item whats">
                <a class="nav-link mx-3" href="https://api.whatsapp.com/send?phone=966555444433&text=welcome%20to%20villa%20online%20whatsApp" target="_blank" rel="noopener noreferrer">
                    <img width="30px" src="/assets/icons/whatsapp.png" alt="" srcset="">
                </a>
              </li>


                <li class="nav-item dropdown" *ngIf="loggedStatus">
                    <a class="nav-link" href="#" id="navbarDropdown" (click)="readList2()" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="notification">
                            <img src="/assets/icons/notification.png" width="20px" alt="" srcset="">
                            <span>{{allAlertslength}}</span>
                        </div>
                    </a>
                    <ul class="dropdown-menu notific-drobdown" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="title">
                                <h5>الاشعارات</h5>
                                <!-- <button nz-button [nzType]="'primary'"  (click)="showModal()"><span> عرض الكل</span></button> -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#showAllNotes">
                                  عرض الكل</button>
                            </div>
                        </li>

                        <li *ngIf="allAlerts.length == 0">لا توجد إشعارات</li>
                        <li *ngFor="let alert of allAlerts">
                            <div class="content">
                                <div class="noti-img">
                                    <img src="/assets/icons/noti-icon.png" alt="" srcset="">
                                </div>
                                <div class="noti-txt mx-2">
                                    <h6>{{alert.details}}</h6>
                                    <time> {{calculateDiff(alert.date)}} </time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li *ngIf="!loggedStatus">

                        <a class="nav-link" routerLink="/login">تسجيل دخول</a>
                </li>
                <li class="nav-item dropdown" *ngIf="loggedStatus">
                  <div >
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                      {{userName}}
                    </a>
                    <ul class="dropdown-menu" >
                      <li *ngIf="userType === 0">
                        <a class="dropdown-item" routerLink="/create-client">اضافة مستخدم</a>
                      </li>
                      <li *ngIf="userType === 0">
                        <a class="dropdown-item" routerLink="/dashboard-panel/dashboard-panel">لوحة التحكم </a>
                      </li>
                      <li *ngIf="userType === 0">
                        <a class="dropdown-item" routerLink="/project-manager">ادارة المشاريع  </a>
                      </li>
                      <li *ngIf="userType !== 0">
                        <a class="dropdown-item" routerLink="/constructor-projects">إدارة المشاريع</a>
                      </li>

                      <li  *ngIf="userType === 0">
                        <hr class="dropdown-divider">
                      </li>
                      <li>
                        <a class="dropdown-item" (click)="logout()">تسجيل خروج</a>
                      </li>
                    </ul>
                  </div>

                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade showAllNotes" id="showAllNotes" tabindex="-1" aria-labelledby="showAllNotesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="showAllNotesLabel">عرض الكل</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <ng-container  *ngFor="let alert of allShowAlerts|slice:0:count*4" >
            <li class="py-1" [ngClass]="alert.isRead ? 'bg-white': ''">
              <div class="content d-flex" >
                <div class="noti-img">
                    <img src="/assets/icons/noti-icon.png" alt="" srcset="">
                </div>
                <div class="noti-txt mx-2">
                    <h6>{{alert.details}}</h6>
                    <time> {{calculateDiff(alert.date)}} </time>
                </div>
              </div>
            </li>
          </ng-container>
          <button class="seeMore" *ngIf="count*4<allShowAlerts.length" (click)="count=count+1">See More...</button>


        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)=" readList()">غلق</button>
      </div>
    </div>
  </div>
</div>
