
@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/navigation";
@import "~swiper/css/thumbs";
@import '~lightgallery/scss/lightgallery';

.swiper {
    width: 100%;
    height: 100%;
}
body .cdk-overlay-container{
    z-index:2000 !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next{
    color: #260000;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    content: "prev";
    font-size: 22px;
    font-weight: bold;
    width: 15px;
}

@font-face {
    font-family: "Ara.Jozoor-Regular";
    src: url('/assets/fonts/Ara.Jozoor-Regular.ttf');
}
@font-face {
  font-family: 'Alexandria', sans-serif;
  src: url('/assets/fonts/Alexandria-Regular.ttf');
}

body {
    direction: rtl;
    font-family: "Ara.Jozoor-Regular";
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}


@media (min-width: 768px) {
    .table-responsive.drob-table {
        overflow: inherit;
    }
}

.ant-select {
    width: 100% !important;
}
.ant-select-multiple .ant-select-selection-search {
    background-color: transparent;
}
.ant-select-multiple .ant-select-selection-search {
    position: relative;
    max-width: 100%;
    margin-inline-start: unset;
}
.ant-select-multiple .ant-select-selector {
    padding: 0 5px;
}
.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    cursor: text;
    background: #eeeeee;
}
.ant-select-item-option {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px 20px;
}
.ant-select-item-option-content {
    flex: inherit;
}

.ant-select-multiple .ant-select-selection-item {
    background: #ea4335;
    color: #fff;
    border-radius: 4px;
}
.ant-select-multiple .ant-select-selection-item-remove>.anticon {
    color: #fff;
}
.ant-modal{
    direction: rtl;
}

.img-height{
    height:300px
}
.notify-modal ul{
  padding:1rem;
  background-color: #f5f5f5;
}
.ant-picker {
    color: #000;
    padding: 6px 11px;
    background: #eee;
    border-radius: 5px;
    width: 100%;

}
.ant-message {
  font-size: 20px;
}
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

.gallery-item {
  margin: 5px;
}
.lg-outer.lg-use-transition-for-zoom .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
  transform: translate3d(1285px, 0px, 0px);}


  .ant-modal-body{
    button{
      background-color: #1e3555;
      color: #fff;
      padding:5px;
      border-radius:5px
  }
  button:hover{
      background-color: #fff;
      color: #1e3555;
  border:1px solid #1e3555
  }
  .img-thumbnails{
    width: 100px;
  height: 100px;
  }
  .upload-files {
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    background-color: #EEEEEE;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    margin-bottom: 10px;
    border: 2px dashed #afaeae;
    max-width: 600px;

  .img-ulpoad {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    img {
        width: 100px;
        height: 100px;
        border-radius: 4px;
    }
    .delete-btn {
        position: absolute;
        top: 0px;
        right: 5px;
        button {
            all: unset;
            cursor: pointer;
            img {
                width: 15px;
                height: 15px;
            }
        }
    }
  }
    .add-file-btn {
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        button {
            width: 100px;
            height: 100px;
            border-radius: 4px;
            background-color: #d1cdcd;
            border: none;
            svg {
                color: #fff;
            }
        }
    }
    .img-ulpoad {
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        position: relative;
        img {
            width: 100px;
            height: 100px;
            border-radius: 4px;
        }
        .delete-btn {
            position: absolute;
            top: 0px;
            right: 5px;
            button {
                all: unset;
                cursor: pointer;
                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
  }
  }
