.about-page {
    .page-header {
        background-image: url('/assets/about/about-header.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 4rem 0;
        h3 {
            color: #1E3555;
            font-size: 35px;
        }
        h5 {
            font-size: 25px;
            color: #EA4335;
        }
    }
    .page-content {
        .content {
            border: 1px solid #70707047;
            padding: 3rem 25px;
            margin-bottom: 60px;
            .txt-info {
                color: #474747;
                h4 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 1.3rem;
                    line-height: 35px;
                    margin: 0;
                }
            }
        }
    }
}
