<app-navbar></app-navbar>
<section class="contact-page">
    <div class="page-header">
        <div class="container">
            <h3 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;"> نسيت كلمة المرور</h3>
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="content">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <div class="form-content h-100">
                            <header>
                                <h4>نسيت كلمة المرور </h4>
                            </header>
                            <form [formGroup]="form" (ngSubmit)="forget()">
                                <div class="mb-4">
                                    <label for="email" class="col-form-label"> الايميل المسجل بالموقع</label>
                                    <div class="">
                                        <input formControlName="email" type="text" class="form-control" id="email" placeholder="">
                                    </div>
                                    <div *ngIf="isSubmitted || (form.controls['email'].touched || form.controls['email'].touched)">
                                      <small class="text-danger" *ngIf="form.controls['email'].hasError('required')">هذا الحقل مطلوب</small>
                                    </div>
                                </div>
                                <div class="mb-4">
                                  <label for="password" class="col-form-label">كلمة المرور</label>
                                  <div class="">
                                      <input formControlName="password" type="password" class="form-control" id="password" placeholder="">
                                  </div>
                                  <div
                                      *ngIf="isSubmitted || (form.controls['password'].touched || form.controls['password'].dirty)">
                                      <small class="text-danger"
                                             *ngIf="form.controls['password'].hasError('minlength')">يجب ان تكون كلمة المرور اكتر من 8</small>
                                      <small class="text-danger"
                                             *ngIf="form.controls['password'].hasError('maxLength')"> محتوي الحقل
                                        طويل جدا </small>
                                      <small class="text-danger"
                                             *ngIf="form.controls['password'].hasError('required')"> هذا الحقل
                                        مطلوب </small>
                                    </div>
                              </div>
                                <div class="mt-4 action-btns">
                                    <div class="col-12">
                                        <button class="btn btn-primary"> ارسال </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

