<section class="client-creation">
    <div class="page-header">
        <div class="container">
            <h3 data-wow-delay="0.5s" data-wow-duration="1s" class="wow fadeInUp" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeInUp;">
              {{isUpdate ? 'تعديل مستخدم' : 'تسجيل مستخدم'}}
            </h3>
        </div>
    </div>

    <!-- <div class="container my-5">
      <div *ngIf="isCreatedSuccessfully" class="alert alert-success my-5 w-50 text-center mx-auto" role="alert">
        تم اضافة المستخدم بنجاح
      </div>
      <div *ngIf="isHasCreationError" class="alert alert-danger my-5 w-50 text-center mx-auto" role="alert">
        خطأ فى معلومات اضافة المستخدم
      </div>
      <div *ngIf="isUpdatedSuccessfully" class="alert alert-success my-5 w-50 text-center mx-auto" role="alert">
        تم تعديل المستخدم بنجاح
      </div>
      <div *ngIf="isHasUpdateError" class="alert alert-danger my-5 w-50 text-center mx-auto" role="alert">
        خطأ فى معلومات تعديل المستخدم
      </div>
    </div> -->

    <div class="page-content">
        <div class="container">
            <div class="content">
                <div class="row justify-content-between">
                    <div class="col-lg-7">
                        <div *ngIf="!isLoaded" class="form-content h-100 d-flex justify-content-center">
                          <img width="128" height="128" src="/assets/icons/loading.gif" />
                        </div>
                        <div *ngIf="isLoaded" class="form-content h-100">
                            <header>
                                <h4>بيانات المستخدم</h4>
                            </header>
                            <article>
                              <form [formGroup]="form">
                                <div class="mb-4 row">
                                    <label for="userType" class="col-sm-3 col-form-label">نوع المستخدم</label>
                                    <div class="col-sm-9">
                                        <select formControlName="userType" id="userType" class="form-select">
                                            <option *ngFor="let type of userTypes" value="{{type.value}}">{{type.label}}</option>
                                        </select>
                                      <div *ngIf="form.controls['userType'].touched || form.controls['userType'].touched">
                                        <small class="text-danger" *ngIf="form.controls['userType'].hasError('min')">محتوي
                                          الحقل قصير جدا</small>
                                      </div>
                                    </div>
                                </div>
                                <div class="mb-4 row">
                                  <label for="name" class="col-sm-3 col-form-label">الاسم </label>
                                  <div class="col-sm-9">
                                    <input formControlName="name" type="text" class="form-control" id="name"
                                          placeholder="">
                                    <div *ngIf="isSubmitted || (form.controls['name'].touched || form.controls['name'].dirty)">

                                      <small class="text-danger" *ngIf="form.controls['name'].hasError('required')">هذا
                                        الحقل مطلوب<br/></small>
                                    </div>
                                  </div>
                                </div>
                                <div class="mb-4 row">
                                  <label for="userName" class="col-sm-3 col-form-label">اسم المستخدم</label>
                                  <div class="col-sm-9">
                                    <input formControlName="userName" type="text" class="form-control" id="userName"
                                          placeholder="">
                                    <div *ngIf="isSubmitted || (form.controls['userName'].touched || form.controls['userName'].dirty)">
                                      <small class="text-danger"
                                             *ngIf="form.controls['userName'].hasError('minlength')">محتوي الحقل قصير
                                        جدا<br/></small>
                                      <small class="text-danger"
                                             *ngIf="form.controls['userName'].hasError('maxlength')">محتوي الحقل طويل
                                        جدا<br/></small>
                                      <small class="text-danger" *ngIf="form.controls['userName'].hasError('required')">هذا
                                        الحقل مطلوب<br/></small>
                                        <small class="text-danger" *ngIf="form.controls['userName'].hasError('pattern')">هذا
                                          الحقل متاح باللغة الانجليزية و ارقام و . فقط<br/></small>
                                        <small class="text-danger" *ngIf="form.controls['userName'].hasError('cannotContainSpace')">هذا
                                          الحقل لا يجب ان يحتوي مسافات</small>

                                    </div>
                                  </div>
                                </div>
                                <div class="mb-4 row">
                                  <label for="phoneNumber" class="col-sm-3 col-form-label">الجوال</label>
                                  <div class="col-sm-9">
                                    <input formControlName="phoneNumber" type="text" class="form-control"
                                           id="phoneNumber" placeholder="">
                                    <div
                                      *ngIf="isSubmitted || (form.controls['phoneNumber'].touched || form.controls['phoneNumber'].dirty)">
                                      <small class="text-danger"
                                             *ngIf="form.controls['phoneNumber'].hasError('minlength')"> محتوي الحقل
                                        قصير جدا </small>
                                      <small class="text-danger"
                                             *ngIf="form.controls['phoneNumber'].hasError('maxLength')"> محتوي الحقل
                                        طويل جدا </small>
                                      <small class="text-danger"
                                             *ngIf="form.controls['phoneNumber'].hasError('pattern')"> رقم الهاتف غير صالح</small>
                                      <small class="text-danger"
                                             *ngIf="form.controls['phoneNumber'].hasError('required')"> هذا الحقل
                                        مطلوب </small>
                                    </div>
                                  </div>
                                </div>
                                <div class="mb-4 row">
                                  <label for="emailAddress" class="col-sm-3 col-form-label">البريد الالكتروني</label>
                                  <div class="col-sm-9">
                                    <input formControlName="emailAddress" type="emailAddress" class="form-control"
                                           id="emailAddress">
                                    <div
                                      *ngIf="isSubmitted || (form.controls['emailAddress'].touched || form.controls['emailAddress'].dirty)">

                                      <small class="text-danger"
                                             *ngIf="form.controls['emailAddress'].hasError('required')"> هذا الحقل
                                        مطلوب </small>
                                      <small class="text-danger"
                                             *ngIf="form.controls['emailAddress'].hasError('email')"> محتوي الحقل غير صالح </small>
                                    </div>
                                  </div>
                                </div>
                                <!-- <div class="mb-4 row">
                                  <label for="password" class="col-sm-3 col-form-label">كلمة السر</label>
                                  <div class="col-sm-9">
                                    <input formControlName="password" type="password" class="form-control"
                                           id="password">
                                    <div
                                      *ngIf="isSubmitted || (form.controls['password'].touched || form.controls['password'].dirty)">
                                      <small class="text-danger"
                                             *ngIf="form.controls['password'].hasError('minlength')"> محتوي الحقل
                                        قصير جدا </small>
                                      <small class="text-danger"
                                             *ngIf="form.controls['password'].hasError('maxLength')"> محتوي الحقل
                                        طويل جدا </small>
                                      <small class="text-danger"
                                             *ngIf="form.controls['password'].hasError('required')"> هذا الحقل
                                        مطلوب </small>
                                    </div>
                                  </div>
                                </div> -->
                                <div class="mb-4 row">
                                    <label for="address" class="col-sm-3 col-form-label">العنوان</label>
                                    <div class="col-sm-9">
                                        <input formControlName="address" type="text" class="form-control" id="address" placeholder="">
                                      <div *ngIf="isSubmitted || (form.controls['address'].touched || form.controls['address'].dirty)">
                                        <small class="text-danger"
                                               *ngIf="form.controls['address'].hasError('minlength')"> محتوي الحقل قصير
                                          جدا </small>
                                        <small class="text-danger"
                                               *ngIf="form.controls['address'].hasError('maxLength')"> محتوي الحقل طويل
                                          جدا </small>
                                        <small class="text-danger"
                                               *ngIf="form.controls['address'].hasError('required')"> هذا الحقل
                                          مطلوب </small>
                                      </div>
                                    </div>
                                </div>
                                <div class="mb-4 row">
                                    <label for="regionId" class="col-sm-3 col-form-label">المنطقة</label>
                                    <div class="col-sm-9">
                                        <select formControlName="regionId" id="regionId" class="form-select">
                                            <option selected>Select Region</option>
                                            <option *ngFor="let region of regions; index as index" value="{{region['id']}}">{{region['name']}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!--
                                <div class="mb-4 row">
                                    <label for="staticEmail" class="col-sm-3 col-form-label">حسابات تابعة</label>
                                    <div class="col-sm-9">
                                        <div>
                                            <nz-select nzMode="tags" nzPlaceHolder="">
                                                <nz-option></nz-option>
                                            </nz-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4 row">
                                    <label for="staticEmail" class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <button class="add">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                            </svg>
                                            إضافة حساب تابع
                                        </button>
                                    </div>
                                </div>
                                -->
                                <div class="mb-4 row">
                                    <label for="notes" class="col-sm-3 col-form-label">ملاحظات</label>
                                    <div class="col-sm-9">
                                        <textarea formControlName="notes" class="form-control" id="notes" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="mt-5 row action-btns">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <button *ngIf="!isUpdate" (click)="register()" type="submit">سجل المستخدم<img *ngIf="buttonLoaded" width="30" src="/assets/icons/spinner.gif"></button>
                                        <button *ngIf="isUpdate" (click)="updateClient()" type="submit">تعديل المستخدم<img *ngIf="buttonLoaded" width="30" src="/assets/icons/spinner.gif"></button>
                                        <button (click)="clearForm()">الغاء</button>
                                    </div>
                                </div>
                              </form>
                            </article>
                        </div>
                    </div>
                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="img-section h-100">
                            <img class="w-100" src="/assets/register/user.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
